/* 모두가 공통으로 import 해야하는 기초 세팅 파일 */

@import url('font.css');

:root {
    /* 변수를 사용할 때는 var(--main-color); 이렇게 사용 */
    --main-font: 'Pretendard';
    --main-font-weight: 400;

    --main-color-01: #608DFF;
    --main-color-02: #4BA2FF;
    --main-color-03: #47BEFF;

    --black-color-01: #424242;
    --black-color-02: #575757;
    --gray-color-01: #747474;
    --gray-color-02: #9E9E9E;
    --gray-color-03: #C4C4C4;

    /* 헤더 높이 */
    --header-height: 8.43vh;

    /* 기본 한 페이지 높이 */
    --page-height: calc(100vh - var(--header-height));
    
    /* 헤더 요소 크기 */
    --header-logo-width: 4.5vh;
    --header-font-size: 2vh;

    /* 기본 패딩 크기 */
    --basic-padding: 12.5vw;
    --mobile-padding: 10vw
}

* {
    margin: 0;
    padding: 0;
    /* 폰트 전역설정 완료 */
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
}

body {
    min-height: 100vh;
    padding-top: var(--header-height);
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
}  

a { 
    color: #fff;
    font-weight: 500;
    text-decoration-line: none; 
}
li { list-style: none; }

/* header */
header {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--basic-padding);
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(117, 117, 117, 0.08);
    z-index: 55;
}

header .header-logo { width: var(--header-logo-width); }

header .header-menu {
    color: var(--black-color-01);
    font-size: var(--header-font-size);
    font-weight: 600;
    margin-left: 5vw;
}
header ul>li>a:hover {
    color: var(--main-color-01);
    font-weight: 700;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 4vh;
}
.toggle {
    display: block;
    width: 4vh;
}

/* 메뉴 페이지 */
.menu-page {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;    height: 100%;
    background-color: white;
    transition: right 0.4s ease;
    z-index: 60;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3vh;
}
.menu-page.active {
    right: 0;
}

.menu-header { margin: 10vh 0; }
.menu-header img { width: 19vh; }

.menu-item {
    display: block;
    color: var(--black-color-01);
    font-size: 3vh;
    font-weight: 500;
    padding: 2vh;
}

.menu-footer {
    display: flex;
    justify-content: center;
    margin: 3vh;
}
.support-link {
    border: 2px solid #fff;
    border-radius: 50px;
    box-shadow: 1px 3px rgba(117, 117, 117, 0.08);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vh 4vh;
}
.support-link img {
    width: 4vh;
    margin-right: 3vw;
}
.support-link p {
    color: var(--main-color-01);
    font-size: 2.2vh;
    font-weight: 500;
}

/* footer */
footer {
    color: #fff;
    background-color: var(--black-color-02);
    padding: 0 var(--basic-padding);
}

.footer-menu { padding: 7vh 0; }
.footer-menu a {
    display: block;
    margin-top: 3vh;
    font-size: 2.5vh;
}

.footer-connect { font-size: 2vh; }
.footer-connect .president {
    display: inline-block;
    margin: 5px 0;
}
.footer-connect .president::after {
    content: '|';
    padding: 0 6px 0 15px;
}

.footer-instagram {
    display: flex;
    align-items: center;
    margin: 3em 0;
}
.footer-instagram img {
    width: 3.5vh;
    margin-right: 10px;
}

.footer-copyright {
    font-size: 1.5vh;
    text-align: center;
    padding: 1em 0;
    opacity: 0.87;
}

/* floating button */
.floating {
    position: fixed;
    top: 20vh;  right: 12vh;
    border: 2px solid #fff;
    border-radius: 50px;
    box-shadow: 0 2px rgba(117, 117, 117, 0.08);
    background-color: rgba(255, 255, 255, 0.5);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vh 1.2vw;
    z-index: 50;

    animation: blink 1.5s infinite;

    cursor: pointer;
}
.floating-logo {
    width: 1.5vw;
    margin-right: 0.6vw;
}
.floating p {
    color: var(--main-color-01);
    font-size: 0.9vw;
    font-weight: 500;
}
.bg-wrapper { 
    position: absolute; 
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 1; 
    overflow: hidden; 
} 

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

/* 태블릿 및 모바일 버전 */
@media screen and (max-width: 768px) {
    .nav-menu {
        display: none;
    }
    .menu-toggle {
        display: block;
    }

    .floating {
        display: none;
    }

    a { font-weight: 400; }

    .footer-menu { padding: 3vh 0; }
    .footer-menu a {
        font-size: 2vh;
        margin-top: 1.5vh;
    }
    .footer-connect { font-size: 1.4vh; }
    .footer-connect .president::after { 
        padding: 0 6px 0 10px; 
    }
    .footer-instagram { 
        font-size: 1.5vh;
        margin: 3vh 0; 
    }
    .footer-instagram img { 
        width: 2vh;
        margin-right: 1.5vw;
    }
    .footer-copyright { font-size: 1vh; }
}